<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body>

	<nav th:replace="fragments/navs/nav :: nav(user=${user})" />

	<div id="main-container" class="container">
		<div id="logged">
			<div id="join" class="vertical-center">
				<div id="join-dialog" class="jumbotron">
					<h1>별명을 만든 후 방 제목을 입력하세요!</h1>
					<form class="form-group" action="/session" method="post">
						<p>
							<label>별명</label>
							<input class="form-control" type="text" name="data" required="true"></input>
						</p>
						<p>
							<label>방 제목</label>
							<input class="form-control" type="text" name="session-name" required="true"></input>
						</p>
						<p class="text-center">
							<button class="btn btn-lg btn-success" type="submit">Join!</button>
						</p>
					</form>
					<hr></hr>
					<div id="login-info">
						<div>Logged as <span th:text="${username}" id="name-user"></span></div>
						<form action="/user/logout" method="get">
							<button id="logout-btn" class="btn btn-warning" type="submit">로그아웃</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer :: footer" />

</body>

<script>
	window.onload = function () { // Generate participant info
		$("input[name='session-name']").val("Session " + Math.floor(Math.random() * 10));
		$("input[name='data']").val("Participant " + Math.floor(Math.random() * 100));
	}
</script>

</html>
