<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<nav th:replace="fragments/navs/nav :: nav(user=${user})" />
				<div class="jumbotron">
					<h2>
						함께 식사하실래요?
					</h2>
					<p>
						처음보는 친구들과 같이 놀아요ㅋㅋ
					</p>
					<p>
						<a class="btn btn-primary btn-large" href="#">이동</a>
					</p>
				</div>
			</div>
		</div>
		<div id="toast-box" class="position-fixed bottom-0 right-0 p-3"
			 style="z-index: 5; right: 0; bottom: 0;">
		</div>
	</div>

	<footer th:replace="fragments/footer :: footer" />

</body>

</html>
