<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body>
	<nav th:replace="fragments/navs/nav :: nav(user=${user})" />

	<div id="main-container" class="container">
		<div id="logged">
			<div id="session">
				<div id="session-header">
					<h1 th:text="${sessionName}" id="session-title"></h1>
					<div>
						<div>
							<form action="/leave-session" method="post">
								<input type="hidden" name="session-name" th:value="${sessionName}"></input>
								<input type="hidden" name="token" th:value="${token}"></input>
								<button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit" onclick="leaveSession()">
									나가기</button>
							</form>
						</div>

						<button class="btn btn-warning" type="button" id="buttonScreenShare"
								onmouseup="publishScreenShare()" style="visibility: hidden;">
							화면 공유
						</button>
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
							초대하기
						</button>

						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">초대하기</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<input type="text" class="form-control mb-2" id="invitedUsername" placeholder="닉네임" />
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" onclick="invite()">초대</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 row-vh d-flex flex-row">
					<!--main video-->
					<div id="main-video" class="col-md-6">
						<p class="nickname"></p>
						<video autoplay="autoplay" playsinline="true" controls></video>
						<button id="buttonToggleVideo" class="btn btn-large btn-primary" onclick="toggleVideo()">
							video</button>
						<button id="buttonToggleAudio" class="btn btn-large btn-success" onclick="toggleAudio()">
							audio</button>
					</div>

					<!--participants thumbnails-->
					<div id="video-container" class="col-md-3"></div>

					<!--chat window-->
					<div class="col-md-3 row-vh d-flex flex-column">
						<textarea id="chat-box" class="w-100 h-100" contenteditable="true"></textarea>
						<input type="text" id="my-message" onkeyup="enterKey(event)"
							   placeholder="메시지 입력...">
						<button class="btn btn-info" onclick="sendMyMessage()">전송</button>
					</div>
				</div>
			</div>
		</div>
		<div id="toast-box" class="position-fixed bottom-0 right-0 p-3"
			 style="z-index: 5; right: 0; bottom: 0;">
		</div>
	</div>

	<footer th:replace="fragments/footer :: footer" />

</body>

<!--Openvidu script-->
<script th:inline="javascript">

	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var screenToken = [[${ screenToken }]];
	var nickname = [[${ nickname }]];
	var username = [[${ username }]];
	var canPublish = [[${ canPublish }]]

	var publisher;
	var screenPublisher;
	var audioEnabled = false;
	var videoEnabled = false;

	var screenSharing = false;

	const ENTER_MESSAGE = "방에 들어왔습니다.";
	const LEAVE_MESSAGE = "방에서 나갔습니다.";

	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	// --- 1) Get an OpenVidu object ---

	// 'OVCamera' will handle Camera operations.
	// 'OVScreen' will handle screen sharing operations
	OVCamera = new OpenVidu();
	OVScreen = new OpenVidu();

	// --- 2) Init a session ---

	// 'sessionCamera' will handle camera operations
	// 'sessionScreen' will handle screen sharing operations
	sessionCamera = OVCamera.initSession();
	sessionScreen = OVScreen.initSession();

	// --- 3) Specify the actions when events take place in the session ---

	// ------- 3.1) Handle subscribers of 'CAMERA' type
	sessionCamera.on('streamCreated', event => {
		if (event.stream.typeOfVideo == "CAMERA") {
			// Subscribe to the Stream to receive it. HTML video will be appended to element with 'container-cameras' id
			var subscriber = sessionCamera.subscribe(event.stream, 'video-container');
			// When the HTML video has been appended to DOM...
			subscriber.on('videoElementCreated', event => {
				// Add a new <p> element for the user's nickname just below its video
				appendUserData(event.element, subscriber.stream.connection);
			});
		}
	});

	// ------- 3.2) Handle subscribers of 'Screen' type
	sessionScreen.on('streamCreated', event => {
		if (event.stream.typeOfVideo == "SCREEN") {
			// Subscribe to the Stream to receive it. HTML video will be appended to element with 'container-screens' id
			var subscriberScreen = sessionScreen.subscribe(event.stream, 'video-container');
			// When the HTML video has been appended to DOM...
			subscriberScreen.on('videoElementCreated', event => {
				// Add a new <p> element for the user's nickname just below its video
				appendUserData(event.element, subscriberScreen.stream.connection);
			});
		}
	});

	// Receiver of all messages (usually before calling 'session.connect')
	sessionCamera.on('signal', (event) => {
		const payload = event.data;
		const sender = JSON.parse(event.from.data.split("%")[0]).clientData;
		console.log("메시지 도착 : data ", payload); // Message
		console.log("메시지 도착 : from ", event.from); // Connection object of the sender
		console.log("메시지 도착 : type ", event.type); // The type of message
		console.log("메시지 도착 : 닉네임 ", sender); // The type of message
		document.querySelector("#chat-box").value += ('['+sender+'] '+ payload + '\n');
		document.getElementById("chat-box").scrollTop
				= document.getElementById("chat-box").scrollHeight;
	});

	//Speech detection
	sessionCamera.on('publisherStartSpeaking', (event) => {
		const streamId = event.streamId;
		console.log('User ' + streamId + ' start speaking');
		document.querySelector("#remote-video-"+streamId).style.border = "solid #0062cc";
	});

	sessionCamera.on('publisherStopSpeaking', (event) => {
		const streamId = event.streamId;
		console.log('User ' + streamId + ' stop speaking');
		document.querySelector("#remote-video-"+streamId).style.border = "none";
	});

	// On every Stream destroyed...
	sessionCamera.on('streamDestroyed', (event) => {
		// Delete the HTML element with the user's name and nickname
		removeUserData(event.stream.connection);
	});

	// On every asynchronous exception...
	sessionCamera.on('exception', (exception) => {
		console.warn(exception);
	});

	// --- 4) Connect to the session passing the retrieved token and some more data from
	//        the client (in this case a JSON with the nickname chosen by the user) ---

	sessionCamera.connect(token, { clientData: nickname })
		.then(() => {

			// --- 5) Set page layout for active call ---

			$('#session-title').text(sessionName);
			$('#join').hide();
			$('#session').show();


			// Here we check somehow if the user has 'PUBLISHER' role before
			// trying to publish its stream. Even if someone modified the client's code and
			// published the stream, it wouldn't work if the token sent in Session.connect
			// method is not recognized as 'PUBLIHSER' role by OpenVidu Server
			if (isPublisher()) {

				// --- 6) Get your own camera stream ---

				this.publisher = OVCamera.initPublisher('video-container', {
					audioSource: undefined, // The source of audio. If undefined default microphone
					videoSource: undefined, // The source of video. If undefined default webcam
					publishAudio: audioEnabled, // Whether you want to start publishing with your audio unmuted or not
					publishVideo: videoEnabled, // Whether you want to start publishing with your video enabled or not
					resolution: '640x480',  // The resolution of your video
					frameRate: 30,			// The frame rate of your video
					insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
					mirror: false       	// Whether to mirror your local video or not
				});

				// --- 7) Specify the actions when events take place in our publisher ---

				// When our HTML video has been added to DOM...
				this.publisher.on('videoElementCreated', (event) => {
					// Init the main video with ours and append our data
					var userData = {
						nickname: nickname,
						username: username
					};
					console.log("이벤트 엘레멘트 : ", event.element);
					initMainVideo(event.element, userData);
					appendUserData(event.element, userData);
					$(event.element).prop('muted', true); // Mute local video
				});


				// --- 8) Publish your stream ---

				sessionCamera.publish(this.publisher);

				sessionCamera.signal({
					data: ENTER_MESSAGE,
					to: [],
					type: "public-message"
				});
				document.getElementById("chat-box").scrollTop
						= document.getElementById("chat-box").scrollHeight;

			} else {
				console.warn('You don\'t have permissions to publish');
				initMainVideoThumbnail(); // Show SUBSCRIBER message in main video
			}
		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});

	// Create a token for screen share
	sessionScreen.connect(screenToken, { clientData: nickname }).then(() => {
		document.getElementById('buttonScreenShare').style.visibility = 'visible';
		console.log("Session screen connected");
	}).catch((error => {
		console.warn('There was an error connecting to the session for screen share:',
				error.code, error.message);
	}));

	// --- 9) Function to be called when the 'Screen share' button is clicked
	function publishScreenShare() {
		// --- 9.1) To create a publisherScreen set the property 'videoSource' to 'screen'
		var publisherScreen = OVScreen.initPublisher("video-container",
				{
					videoSource: "screen",
					publishAudio: false
				}
		);

		// --- 9.2) Publish the screen share stream only after the user grants permission to the browser
		publisherScreen.once('accessAllowed', (event) => {
			document.getElementById('buttonScreenShare').style.visibility = 'hidden';
			screenSharing = true;
			// If the user closes the shared window or stops sharing it, unpublish the stream
			publisherScreen.stream.getMediaStream().getVideoTracks()[0].addEventListener('ended', () => {
				console.log('User pressed the "Stop sharing" button');
				sessionScreen.unpublish(publisherScreen);
				document.getElementById('buttonScreenShare').style.visibility = 'visible';
				screenSharing = false;
			});
			sessionScreen.publish(publisherScreen);
		});

		publisherScreen.on('videoElementCreated', function (event) {
			appendUserData(event.element, sessionScreen.connection);
			event.element['muted'] = true;
		});

		publisherScreen.once('accessDenied', (event) => {
			console.error('Screen Share: Access Denied');
		});
	}

	function toggleVideo() {
		videoEnabled = !videoEnabled;
		this.publisher.publishVideo(videoEnabled);
		document.querySelector('#buttonToggleVideo').style.backgroundColor
				= videoEnabled ? "#dc3545" : "#007bff";
	}

	function toggleAudio() {
		audioEnabled = !audioEnabled;
		this.publisher.publishAudio(audioEnabled);
		document.querySelector('#buttonToggleAudio').style.backgroundColor
				= audioEnabled ? "#dc3545" : "#06d362";
	}

	function sendMyMessage() {
		var message = $("#my-message").val();
		if(message.length != 0){
			console.log("보낼 메시지 : ", message);
			sessionCamera.signal({
				data: message,
				to: [],
				type: "public-message"
			})
			$("#my-message").val("");
			document.getElementById("chat-box").scrollTop
					= document.getElementById("chat-box").scrollHeight;
		}
	}

	function enterKey(e){
		if(e.key == 'Enter'){
			sendMyMessage();
		}
	}

	function leaveSession() {
		// --- 10) Leave the session by calling 'disconnect' method over the Session object ---
		sessionCamera.signal({
			data: LEAVE_MESSAGE,
			to: [],
			type: "public-message"
		});
		document.getElementById("chat-box").scrollTop
				= document.getElementById("chat-box").scrollHeight;
		sessionScreen.disconnect();
		sessionCamera.disconnect();
	}

	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		if (connection.nickname) { // Appending local video data
			clientData = connection.nickname;
			serverData = connection.username;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		if(serverData === username){
			dataNode.innerHTML =
					'<p class="nickname">' + clientData + '</p><p class="username">나</p>';
		} else {
			dataNode.innerHTML = '<p class="nickname">' + clientData + '</p>';
		}
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeUserData(connection) {
		var usernameRemoved = $("#data-" + connection.connectionId);
		if ($(usernameRemoved).find('p.username').html() === $('#main-video p.username').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickname').html(clientData);
					$('#main-video p.username').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickname').html(userData.nickname);
		$('#main-video p.username').html(userData.username);
		$('#main-video video').prop('muted', true);
	}

	function initMainVideoThumbnail() {
		$('#main-video video').css("background", "url('images/subscriber-msg.jpg') round");
	}

	function isPublisher() {
		return canPublish;
	}
</script>
<!--Invite script-->
<script th:inline="javascript">
	var sessionName = [[${ sessionName }]];
	var inviter = [[${ username }]];

	function invite(){
		var invited = document.querySelector("#invitedUsername").value;

		let invitingMessage = invited + "," + inviter + "," + sessionName;
		sock.send(invitingMessage);

		alert('\'' + invited + '\'' + "님을 초대했습니다.");
		document.querySelector("#invitedUsername").value = "";
	}


</script>
</html>
