<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

<body>
	<nav th:replace="fragments/navs/nav :: nav(user=${user})" />

	<div id="main-container" class="container">
		<div id="logged">
			<div id="session">
				<div id="session-header">
					<h1 th:text="${sessionName}" id="session-title"></h1>
					<form action="/leave-session" method="post">
						<input type="hidden" name="session-name" th:value="${sessionName}"></input>
						<input type="hidden" name="token" th:value="${token}"></input>
						<button id="buttonLeaveSession" class="btn btn-large btn-danger" type="submit" onclick="leaveSession()">
							Leave session</button>
					</form>
				</div>
				<div class="col-md-12 row-vh d-flex flex-row">
					<div id="main-video" class="col-md-6">
						<p class="nickname"></p>
						<video autoplay="autoplay" playsinline="true"></video>
						<button id="buttonToggleVideo" class="btn btn-large btn-primary" onclick="toggleVideo()">
							video</button>
						<button id="buttonToggleAudio" class="btn btn-large btn-success" onclick="toggleAudio()">
							audio</button>
					</div>
					<div class="col-md-6 row-vh d-flex flex-column">
						<textarea id="chat-box" class="w-100 h-100" contenteditable="true"></textarea>
						<input type="text" id="my-message" onkeyup="enterKey(event)"
							   placeholder="메시지 입력...">
						<button class="btn btn-info" onclick="sendMyMessage()">전송</button>
					</div>
				</div>
				<div id="video-container" class="col-md-6"></div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/footer :: footer" />

</body>

<script th:inline="javascript">

	// Get all the attributes from the template in Thymeleaf style
	var sessionName = [[${ sessionName }]];
	var token = [[${ token }]];
	var nickname = [[${ nickname }]];
	var username = [[${ username }]];
	var canPublish = [[${ canPublish }]]

	var publisher;
	var audioEnabled = false;
	var videoEnabled = false;


	console.warn('Request of TOKEN gone WELL (TOKEN:' + token + ')');

	// --- 1) Get an OpenVidu object ---

	OV = new OpenVidu();

	// --- 2) Init a session ---

	session = OV.initSession();

	// --- 3) Specify the actions when events take place in the session ---

	// On every new Stream received...
	session.on('streamCreated', (event) => {

		// Subscribe to the Stream to receive it
		// HTML video will be appended to element with 'video-container' id
		var subscriber = session.subscribe(event.stream, 'video-container');

		// When the HTML video has been appended to DOM...
		subscriber.on('videoElementCreated', (event) => {

			// Add a new HTML element for the user's name and nickname over its video
			appendUserData(event.element, subscriber.stream.connection);
		});
	});

	// Receiver of all messages (usually before calling 'session.connect')
	session.on('signal', (event) => {
		const payload = event.data;
		const sender = JSON.parse(event.from.data.split("%")[0]).clientData;
		console.log("메시지 도착 : data ", payload); // Message
		console.log("메시지 도착 : from ", event.from); // Connection object of the sender
		console.log("메시지 도착 : type ", event.type); // The type of message
		console.log("메시지 도착 : 닉네임 ", sender); // The type of message
		document.querySelector("#chat-box").value += ('['+sender+'] '+ payload + '\n');
		document.getElementById("chat-box").scrollTop
				= document.getElementById("chat-box").scrollHeight;
	});

	// On every Stream destroyed...
	session.on('streamDestroyed', (event) => {
		// Delete the HTML element with the user's name and nickname
		removeUserData(event.stream.connection);
	});

	// On every asynchronous exception...
	session.on('exception', (exception) => {
		console.warn(exception);
	});

	// --- 4) Connect to the session passing the retrieved token and some more data from
	//        the client (in this case a JSON with the nickname chosen by the user) ---

	session.connect(token, { clientData: nickname })
		.then(() => {

			// --- 5) Set page layout for active call ---

			$('#session-title').text(sessionName);
			$('#join').hide();
			$('#session').show();


			// Here we check somehow if the user has 'PUBLISHER' role before
			// trying to publish its stream. Even if someone modified the client's code and
			// published the stream, it wouldn't work if the token sent in Session.connect
			// method is not recognized as 'PUBLIHSER' role by OpenVidu Server
			if (isPublisher()) {

				// --- 6) Get your own camera stream ---

				this.publisher = OV.initPublisher('video-container', {
					audioSource: undefined, // The source of audio. If undefined default microphone
					videoSource: undefined, // The source of video. If undefined default webcam
					publishAudio: audioEnabled, // Whether you want to start publishing with your audio unmuted or not
					publishVideo: videoEnabled, // Whether you want to start publishing with your video enabled or not
					resolution: '640x480',  // The resolution of your video
					frameRate: 30,			// The frame rate of your video
					insertMode: 'APPEND',	// How the video is inserted in the target element 'video-container'
					mirror: false       	// Whether to mirror your local video or not
				});

				// --- 7) Specify the actions when events take place in our publisher ---

				// When our HTML video has been added to DOM...
				this.publisher.on('videoElementCreated', (event) => {
					// Init the main video with ours and append our data
					var userData = {
						nickname: nickname,
						username: username
					};
					console.log("이벤트 엘레멘트 : ", event.element);
					initMainVideo(event.element, userData);
					appendUserData(event.element, userData);
					$(event.element).prop('muted', true); // Mute local video
				});


				// --- 8) Publish your stream ---

				session.publish(this.publisher);

			} else {
				console.warn('You don\'t have permissions to publish');
				initMainVideoThumbnail(); // Show SUBSCRIBER message in main video
			}
		})
		.catch(error => {
			console.warn('There was an error connecting to the session:', error.code, error.message);
		});

	function toggleVideo() {
		videoEnabled = !videoEnabled;
		this.publisher.publishVideo(videoEnabled);
		document.querySelector('#buttonToggleVideo').style.backgroundColor
				= videoEnabled ? "#dc3545" : "#007bff";
	}

	function toggleAudio() {
		audioEnabled = !audioEnabled;
		this.publisher.publishAudio(audioEnabled);
		document.querySelector('#buttonToggleAudio').style.backgroundColor
				= audioEnabled ? "#dc3545" : "#06d362";
	}

	function sendMyMessage() {
		var message = $("#my-message").val();
		if(message.length != 0){
			console.log("보낼 메시지 : ", message);
			session.signal({
				data: message,
				to: [],
				type: "public-message"
			})
			$("#my-message").val("");
			document.getElementById("chat-box").scrollTop
					= document.getElementById("chat-box").scrollHeight;
		}
	}

	function enterKey(e){
		if(e.key == 'Enter'){
			sendMyMessage();
		}
	}

	function leaveSession() {
		// --- 9) Leave the session by calling 'disconnect' method over the Session object ---
		session.disconnect();
	}

	function appendUserData(videoElement, connection) {
		var clientData;
		var serverData;
		var nodeId;
		if (connection.nickname) { // Appending local video data
			clientData = connection.nickname;
			serverData = connection.username;
			nodeId = 'main-videodata';
		} else {
			clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
			serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
			nodeId = connection.connectionId;
		}
		var dataNode = document.createElement('div');
		dataNode.className = "data-node";
		dataNode.id = "data-" + nodeId;
		if(serverData === username){
			dataNode.innerHTML =
					'<p class="nickname">' + clientData + '</p><p class="username">나</p>';
		} else {
			dataNode.innerHTML = '<p class="nickname">' + clientData + '</p>';
		}
		videoElement.parentNode.insertBefore(dataNode, videoElement.nextSibling);
		addClickListener(videoElement, clientData, serverData);
	}

	function removeUserData(connection) {
		var usernameRemoved = $("#data-" + connection.connectionId);
		if ($(usernameRemoved).find('p.username').html() === $('#main-video p.username').html()) {
			cleanMainVideo(); // The participant focused in the main video has left
		}
		$("#data-" + connection.connectionId).remove();
	}

	function removeAllUserData() {
		$(".data-node").remove();
	}

	function cleanMainVideo() {
		$('#main-video video').get(0).srcObject = null;
		$('#main-video p').each(function () {
			$(this).html('');
		});
	}

	function addClickListener(videoElement, clientData, serverData) {
		videoElement.addEventListener('click', function () {
			var mainVideo = $('#main-video video').get(0);
			if (mainVideo.srcObject !== videoElement.srcObject) {
				$('#main-video').fadeOut("fast", () => {
					$('#main-video p.nickname').html(clientData);
					$('#main-video p.username').html(serverData);
					mainVideo.srcObject = videoElement.srcObject;
					$('#main-video').fadeIn("fast");
				});
			}
		});
	}

	function initMainVideo(videoElement, userData) {
		$('#main-video video').get(0).srcObject = videoElement.srcObject;
		$('#main-video p.nickname').html(userData.nickname);
		$('#main-video p.username').html(userData.username);
		$('#main-video video').prop('muted', true);
	}

	function initMainVideoThumbnail() {
		$('#main-video video').css("background", "url('images/subscriber-msg.jpg') round");
	}

	function isPublisher() {
		return canPublish;
	}
</script>

</html>
